<h1>Simple Calculator</h1>


<%= link_to 'Sum', "sum", class: 'button alt' %>
<%= link_to 'Division', "division", class: 'button alt' %>
<%= link_to 'Multiplication', "multiplication", class: 'button alt' %>
<%= link_to 'Subtraction', "subtraction", class: 'button alt' %>