body {
  background-color: #feeafa;
  color: #252627;
  font-family: Georgia, serif;
  text-align: center;
  margin: auto;
}
ul {
  display: inline-block;
  text-align: left;
  margin: 0;
}
h2 {
  text-shadow: 2px 2px 5px #ba1f33;
}